.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 50px;
}

.title-row {
  /*height: 70px;*/
}

input#title {
  font-family: 'Alex Brush', cursive;
  font-size: 48px;
  width: 99%;
  padding-left: 1%;
  padding-top: 13px;
  height: 60px;
  border:1px none;
}

input#title:hover, input#title:focus, textarea:hover, textarea:focus {
  background: rgba(200, 200, 200, 0.18);
  cursor: pointer;
  outline: 0;
  outline: none;
}

input#title:focus, textarea:focus {
  cursor: text;
}

h1 {
  font-size: 32px;
}

textarea.poetry-text {
  width: 97%;
  padding-left: 3%;
  padding-top: 10px;
  height: 540px;
  resize: none;
  border:none;
  font-size: 18px;
  line-height: 1.5em;
}

.syllable_counts {
  text-align: right;
  padding-right: 0;
  padding-top: 10px;
  font-size: 18px;
  line-height: 1.5em;
  height: 540px;
  overflow: hidden;
  color: rgba(100, 100, 100, 0.4);
}

div.topBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 20px;
  background: url("/public/img/debut_dark.png");
  background-color: #333;

}

div.bottomBar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #000;
}

#logo {
  height: 100px;
  margin-bottom: 10px;
}

#poem-title {
  float: left;
}

body,input, textarea {
  background: url("/public/img/creampaper.png");
}
