.edit_poem=link_to 'View Poem', poem_path(@poem)
=form_for @poem do |f|
  %p=f.text_field :title, :placeholder => "Title"
  =text_area_tag :counts, nil, :disabled => true
  =f.text_area :body, :rows => nil, :cols => nil
  Rhyme Scheme:
  =f.text_field :rhyme_scheme
  .clear
  %span.rhymes_with Rhymes:
  =text_area_tag :rhymes, nil, :disabled => true
  =f.submit 'Save Poem', :class => 'save_poem'