/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.brand {
  float: left;
  padding-right: 8px;
}
.inner {
  width: 800px;
  margin: 0 auto;
}
ul.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  &.right {
    text-align: right;
    float:none;
  }
  li {
    color: #999;
  }
}
ul.nav li {
  display: inline;
}
#flash_notice, #flash_error, #flash_alert {
  padding: 10px;
  margin-bottom: 10px;
}
#flash_notice {
  background-color: #CFC;
}
#flash_error, #flash_alert {
  background-color: #FCC;
}
#main {
  width:800px;
  margin:0 auto;
}
.copyright {
  text-align: center;
  margin-top: 20px;
  color: #666;
}