.poem_display {
  #poem_body {
    width: 800px;
    color:black;
    font-size:30px;
    &:hover {
      background:rgba(0,0,0,.02);
    }
  }
  #counts {
    font-size:30px;
    width:60px;
    margin-left:-75px;
  }
}
.poem_display {
  display:inline-block;
}

.poem_link {
  color:black;
  text-decoration:none;
  .poem_block {
    padding:10px;
    margin-bottom:10px;
    background:rgba(0,0,0,.02);
    position:relative;
    &:hover {
      background:rgba(0,0,0,.1);
    }
    h3, h4, p {
      margin:0;
      line-height:1.5
    }
    span.date {
      position:absolute;
      right:10px;
      top:12px;
      opacity:.5;
    }
  }
}

.edit_poem {
  margin-top:10px;
  a {
    text-decoration:none;
    color:rgba(0,0,0,.5);
    &:hover {
      color:rgba(0,0,0,1);
    }
  }
}

.pagination {
  text-align: center;
  margin-top:20px;
  .disabled, em {
    color:#666;
  }
  a {
    text-decoration: none;
    background:rgba(0,0,0,.02);
    padding: 5px;
    &:hover {
      background:rgba(0,0,0,.1);
    }
  } 
}